body {
  font-family: sans-serif;
}*{
   padding: 0;
   margin: 0;
 }
header{
  position: absolute;
  background-color: #000;
  Width: 100%
  heigh: 192px;  
}
footer{
  position: absolute;
  background-color: #000;
  Width: 100%
  heigh: 192px;  
}


