body {
  font-family: arial;
}
h1{
  font-size: 28px; 
  font-family: arial;
  text-align: center; 
  color:#000000;
  padding-top: 10px;
}
h2{
  padding-top: 10px;
  font-size: 22px; 
  color:#000000;
  display: block;
  margin-left: 0px;
}
div.heading2{
margin-left: 30%;
  font-size: 22px; 
  color:#000000;
  display: block;
}
h3{
  font-size: 18px;
  padding-left: 60px;
  text-align: left;
  color:#000000;
}
img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 50px;
   }
 footer{
  outline-style: double;
  width: 100%;
  height: 20%;
  border: 1px solid #ffffff;
  padding-top: 10px;
  margin-top: 40px;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 20px;
}
footer p{
  text-align: center;
  width: 100%;
}
.skip-link {
   position: absolute;
   left: -10000px;
}
a:hover {
  color: blue;
}
p {
  width: 80%;
  height: 20%;
  margin-right: 50px;
  margin-left: 50px;
 }
div.heading2{
padding-top: 10px;
margin-left: 30%;
margin: center
  font-size: 22px; 
  color:#000000;
  display: block;
}
 nav {
            height: 50px;
     }
 nav ul {
            height: 50px;
            width: 600px
            margin: 0 auto;
       }
     nav li {
            list-style-type: none;
            display: inline-block;
            margin: 5 5px;
       }
   li a {
            text-decoration: underline;
            line-height: 50px;
            padding: 8px;
            line-height: 50px;
            display: block;
       }

       li a:hover {
            text-decoration: none;
            background-color: #d3d3d3;
       }
       table {
              margin: 50px auto;
               }
