body {
  font-family: sans-serif;
}*{
   padding: 0;
   margin: 0;
 }
header,footer{
  position: absolute;
  background-color: #000;
  Width: 100%
}
header{
  heigh: 192px;
}
footer{
  heigh: 192px;
}

