body {
  font-family: arial;
}
h1{
  font-size: 28px; 
  font-family: Verdana;
  text-align: center; 
  color:#000000;
  padding-top: 15px;
  text-align: auto; 
}
h3{
  font-size: 22px;
  width: 50%;
  align: center;
  color:#000000;
  display: block;
  margin-left: 27%;
  margin-top: 10px;
}
h4{
  font-size: 22px;
  width: 50%;
  align: center;
  color:#000000;
  display: block;
  margin-left: 25%;
  margin-bottom: 0px;
  margin-bottom: 7px;
}
img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 50px;
   }
 footer{
  background-color: LightGray;
  font-size: 20px; 
  font-family: Verdana;
  text-align: center; 
  color:#000000;
}
.skip-link {
   position: absolute;
   left: -10000px;
}
a:hover {
  color: blue;
  }
p {
  width: 80%;
  height: 20%;
  margin-right: 50px;
  margin-left: 50px;
 }
div.heading2{
  padding-top: 10px;
  margin-left: 30%;
  margin: center
  font-size: 22px; 
  color:#000000;
  display: block;
  text-align: auto; 
}
h2{
  margin: center
  font-size: 22px; 
  color:#000000;
  display: block;
  text-align: auto; 
}
div.ing{
  margin-left: 30%;
  margin: center
  display: block;
  text-align: auto;
}
nav {
     height: 50px;
     background-color: LightGray;
     }
nav ul {
     height: 50px;
     width: 600px
     margin-left: 0 auto;
     }
nav ul li {
     list-style-type: none;
     display: inline-block;
     margin: 5 5px;
    }
li a {
    text-decoration: underline;
    line-height: 50px;
    padding: 8px;
    line-height: 50px;
    display: block;
    }
li a:hover {
    text-decoration: none;
    text-decoration-thickness: 3px;
    }
table {
    margin: 50px auto;
    }
