body {
  font-family: arial;
  width: 1000px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 0 20px 20px 20px;
  margin-bottom: 10px;
  border-style: groove;
}
h1{
  font-size: 28px; 
  font-family: Verdana;
  color:#000000;
  padding-top: 15px;
}
h3{
  font-size: 22px;
  width: 50%;
  color:#000000;
  display: block;
  margin-left: 27%;
  margin-top: 10px;
}
h4{
  font-size: 22px;
  width: 50%;
  color:#000000;
  display: block;
  margin-left: 25%;
  margin-top: 25px;
  margin-bottom: 7px;
}
img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 50px;
   }
 footer{
  background-color: #F2F2F2;
  font-size: 20px; 
  font-family: Verdana;
  text-align: center; 
  color:#000000;
}
.skip-link {
   position: absolute;
   top: -40px;
   left: 0;
   margin-bottom: 7px;
   padding-left: 0px;
}
.skip-link:focus {
   top: 0;
   color: #000000;
   border-style: none;
}
a:hover {
  color: #2929FF;
  }
p {
  width: 80%;
  height: 20%;
  margin-right: 50px;
  margin-left: 50px;
  padding-top: 15px;
 }
div.heading2{
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 22px; 
  color:#000000;
  display: block;
  margin-left: 0px;
}
div.heading3{
  margin-top: 15px;
  font-size: 22px; 
  color:#000000;
  display: block;
  margin-left: 60px;
  margin-bottom: 0px;
}
h2{
  margin: center;
  font-size: 22px; 
  color:#000000;
  display: block;
  text-align: auto; 
}
div.ing{
  margin-left: 30%;
  margin: center;
  display: block;
  text-align: auto;
}
nav {
     height: 50px;
     background-color: #F2F2F2;
     }
nav ul {
     height: 50px;
     width: 600px;
     }
nav ul li {
     list-style-type: none;
     display: inline-block;
     margin: 15px;
    }
li a {
    text-decoration: underline;
    padding: 8px;
    line-height: 0px;
    display: block;
    }
li a:hover, li a.focus {
    text-decoration: none;
    text-decoration-thickness: 3px;
    }
table {
    margin: 50px auto;
    }
.active, .link:hover {
    background-color: #666;
    color: white;
    text-decoration: none;
    }
