body {
  font-family: arial;
}
h1{
  font-size: 28px; 
  font-family: arial;
  text-align: center; 
  color:#000000;
  padding-top: 10px;
}
h2{
  font-size: 22px; 
  padding-left: 500px;
  padding-bottom: 10px;
  text-align: left;
  color:#000000;
}
h3{
  font-size: 18px;
  padding-left: 280px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: left;
  color:#000000;
}
footer{
  text-align: center;
  margin: 70px; 
  outline-style: double;
  border: 1px solid #ffffff;
}
table{
  padding-left: 500px;
  padding-bottom: 10px;
  padding-top: 10px;
}
