body {
  background: #ffffff;
  font-family: arial;
}
a {
  color:DodgerBlue
  text-decoration: underline
}
a:hover {
  colour: #000000
  text-decoration: none
}
h1{
  font-size: 24px; 
  text-align: center; 
  color:#000000;
}
h1{
  font-size: 20px; 
  text-align: center; 
  color:#000000;
}
footer{
  text-align: center;
  margin: 70px; 
  border: 1px solid #ffffff;
}
